.container {
  margin: 4rem;
}
table {
  width: 1000px;
  table-layout: fixed;
  color: var(--main-table);
}
th {
  font-weight: 300;
  font-size: 0.75rem;
  padding-bottom: 1rem;
  text-align: left;
  height: 50px;
  cursor: pointer;
}

td {
  height: 50px;
}

tfoot {
  color: var(--darkest);
}

i {
  visibility: hidden;
  color: crimson;
  margin-left: -15px;
}

.active {
  color: var(--active);
  font-weight: bold;
}

.active i {
  visibility: visible;
  margin-left: 0px;
}

.table__body-name {
  font-weight: bold;
  font-size: 0.75rem;
}

.table__body-directContractors {
  margin-bottom: 2rem;
}

.title {
  font-weight: 200;
  color: var(--dark);
}

/* little hack for making collapse the right borders in the table */
table,
.rightBorder {
  border-right: 1px solid #e6eaec;
  border-collapse: collapse;
}

table {
  border: none;
}

/* utility classes */

.center {
  text-align: center;
}
.right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.thin {
  font-weight: 300;
}

.xl {
  font-size: 1.5rem;
}

.dark {
  color: var(--dark);
}

.space {
  height: 30px;
}

.pr-20 {
  padding-right: 20px;
}
