table {
  width: 1000px;
  table-layout: fixed;
  color: #c1c5c6;
  /* margin: 0 auto; */
}
th {
  font-weight: 300;
  font-size: 0.75rem;
  padding-bottom: 1rem;
  text-align: left;
  height: 50px;
  cursor: pointer;
  position: relative;
}

td {
  height: 50px;
}

tfoot {
  color: #515457;
}

i {
  visibility: hidden;
  color: crimson;
  margin-left: -15px;
}

.table__body-name {
  font-weight: bold;
  font-size: 0.75rem;
}

.table__body-directContractors {
  margin-bottom: 2rem;
}
.title {
  font-weight: 200;
  color: #696c6f;
}

.active {
  color: #7e90a1;
  font-weight: bold;
}

.active i {
  visibility: visible;
  margin-left: 0px;
}

/* little hack for making collapse the right borders in the table */
table,
.rightBorder {
  border-right: 1px solid #e6eaec;
  border-collapse: collapse;
}

table {
  border: none;
}
