* {
  font-family: "Open Sans", sans-serif;
}

:root {
  --main-dark: #98999b;
}

.center {
  text-align: center;
}
.right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.thin {
  font-weight: 300;
}

.xl {
  font-size: 1.5rem;
}

.dark {
  color: var(--main-dark);
}

.space {
  height: 30px;
}

.pr-20 {
  padding-right: 20px;
}
